* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
html {
	height: 100%;
}
body{
    display: inline-block;
    white-space:nowrap;
	font-family: Palatino Linotype;
    background: linear-gradient(to right, yellowgreen , white);
	overflow-x: hidden;
	margin: 0;
}

textarea{
	color: white;
	resize: none;
	font-size: 5em;
	outline: none;
}

h2{
	font-weight: bold;
}

textarea.userComment{  
    background: transparent; 
    vertical-align: bottom;
    color: black;
    resize: none;
    font-size: 15px;
    outline: none;
}

.info {
	position: absolute;
}

canvas.canvasSection{
	background: white;
}

section.mainSection {
    border-style: solid;
    border-width: 5px;
    background: linear-gradient(to right, #1a5f96 , white);
    /*background-color: #1a5f96;*/
}

label.client{
	margin: 5px 10px;
    -webkit-box-flex: 1;
    display: block;
    border:2px solid grey;
    -webkit-appearance: none;
    -webkit-border-radius: 5px;
    background-color: transparent;
    background-image: literal('-webkit-gradient(linear,left bottom,left top,color-stop(0, #A8ACB9),color-stop(1, #eee))');
     -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3), inset 0 3px 10px rgba(255,255,255,0.3);
    text-align: center;
	font-size: 15px;
	float: right; 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label.textareaLabel{
    font-size: 15px;
    width: 55px;
}

input[type=radio] {
	-webkit-appearance: none;
	margin: 0;
	display: none;
	width: 0;
}
input[type=radio]:checked + label::after {
	content: '\2712';
	position: absolute;
	left: 8px;
}

label {
	max-width: initial;
	margin-bottom: 0px;
	display: inline-block; 
	width: 48px; height: 48px; 
	position: relative;
	padding-right: 5px;
	border-radius: 50%;
	text-shadow: 1px 1px 2px #000;
	color: #fff;
	font-size: 32px;
	line-height: 46px;
}

button.color{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 0px;
    background-color: transparent;
    box-shadow: 5px 5px 2px #888888;

}

.btn.btn-primary{
	display: inline-block;
    float: none;
    vertical-align: top;
    margin: 10px 0px;
}

a.popFade{
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

    font-size: 14pt;
	position: absolute;
	display: none;
}

input#password-area{
	float: none;
    display: inline-block;
    vertical-align: bottom;
    margin: 15px 0px;
}

label[for=color01] {background: gold;}
label[for=color02] {background: darkorange;}
label[for=color03] {background: navy;}
label[for=color04] {background: yellowgreen;}
label[for=color05] {background: firebrick;}
label[for=color06] {background: powderblue;}
label[for=color07] {background: white;}

section.avatar-section{
	float: right;
}

.userComment{
    opacity: 0.7;
}