* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
html {
	height: 100%;
}
body{
	background: yellowgreen;
	overflow-x: hidden;
	margin: 0;

}

canvas.canvasSection{
	background: white;
}

section.mainSection {
    border-style: solid;
    border-width: 5px;
    background-color: #1a5f96;
}

label.client{
	margin: 0px 10px;
    -webkit-box-flex: 1;
    display: block;
    border:2px solid black;
    -webkit-appearance: none;
    -webkit-border-radius: 5px;
    background-color: transparent;
    background-image: literal('-webkit-gradient(linear,left bottom,left top,color-stop(0, #A8ACB9),color-stop(1, #eee))');
     -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3), inset 0 3px 10px rgba(255,255,255,0.3);
    text-align: center;
	font-size: 15px;
	float: right; 
}

input[type=radio] {
	margin: 0;
	display: none;
	width: 0;
}
input[type=radio]:checked + label::after {
	content: '\2712';
	position: absolute;
	left: 8px;
}

label {
	display: inline-block; 
	width: 48px; height: 48px; 
	position: relative;
	padding-right: 5px;
	border-radius: 50%;
	text-shadow: 1px 1px 2px #000;
	color: #fff;
	font-size: 32px;
	line-height: 46px;
}

label[for=color01] {background: gold;}
label[for=color02] {background: darkorange;}
label[for=color03] {background: navy;}
label[for=color04] {background: yellowgreen;}
label[for=color05] {background: firebrick;}
label[for=color06] {background: powderblue;}
label[for=color07] {background: white;}

section.avatar-section{
	float: right;
}
